

/*Contents*/
.content {
    /* position: relative; */
    background-color: white;
    display: grid;
    width: 100%;
    height: calc(100vh - 240px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.5px;
}

.content *{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.content #about {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
    font-family: "Arita-buri-SemiBold";
    text-align: center;
    line-height: 40vw;
    vertical-align: bottom;
    font-size: 18vw;
    font-stretch: condensed;
}

.content #about div{
    padding-top: min(40vw, 40vh);
    font-family: "Arita-buri-SemiBold";
    text-align: center;
    line-height: 40vw;
    vertical-align: bottom;
    font-size: 18vw;
    font-stretch: condensed;
}

/* works */
.content #main-content-works{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    padding-bottom: 24px;
}

.content #main-content-works *{
    width: 100%;
}

.content .main-content-title{
    text-align: left;
    font-family: "Arita-buri-SemiBold";
    height: 100%;
    font-size: 8vh;
}

.main-headline{
    outline:0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 40% 5% 30%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.content .main-headline *{
    font-weight: 700;
    text-align: center;
    align-items: center;
    justify-content: center;

    outline: 0;
}

#fancyMainSlogan{
    font-weight: bold;
    background: -webkit-linear-gradient(#fbcac9, #8ca6ce);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mh1 {
    background-color: transparent;
}

#mh2 {
    background-color: transparent;
}

#fancyemoji{
    background-color: transparent;
}

/* projects */
.content #main-content-projects {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
}

.content #main-content-projects * {
    outline: 0;
    background-color: transparent;
    width: 100%;
}

.content .main-headline-plain{
    width:100%;
    font-weight: 700;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
    outline: 0ch;

}

/* content - responsive */
@media(max-width: 600px) {
    .content{
        height: calc(73vh);
        overflow: hidden;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .content *{
        height: 100%;
        /* overflow:scroll; */
    }

    .content #about{
        padding: 24px;
        grid-row: 1/2;

        grid-row-start: 1;
        grid-row-end: 2;

        line-height: 10vw;
        font-size: min(8vw, 240px);
        height:100%;
    }
    .content #main-content-works {
        padding: 24px;
        display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .content #main-content-works * {
        font-size: 15px;
    }

    .content #main-content-projects {
        padding: 24px;
        display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 1fr;
    }

    .content .main-headline-plain{
        padding: 0;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .main-headline{
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 2.5fr 1fr;
    }
    #mh1{
        background-color: transparent;
        grid-column: 1/3;
    }
    #mh2{
        background-color: transparent;
        grid-column: 1/3;
    }
    #fancyMainSlogan{
        text-align: right;
    }
    #fancyEmoji{
        text-align: left;
        justify-items:left;
    }

    .content #main-content-works * {
     background-color: transparent;
        width: 100%;
        overflow:scroll;
    }

    .content #main-content-works .main-content-title{
        font-size: 8vw;
        outline: 0;
    }


    .content .main-content-title {
        font-size: 8vw;
        outline: 0;
    }
}