*{
 box-sizing: border-box;
}

.content {
    background-color: white;
    width: 100%;
    height: calc(100vh - 260px);
    display: flex;
    flex-direction: row;
    grid-gap: 3px;
    overflow: scroll;
}
.content *{
    outline: 0;
}

#left{
    display:flex;
    flex-direction: column;
    grid-gap: 3px;
}

.thumbnails{
    aspect-ratio: 1/1;
}

.title{
     outline: 3px solid red;
    background-color: white;
    padding: 12px;
}

.title h1 {
    font-weight: 600;
    font-size: 4vw;
}

.title h2 {
    font-weight: 400;
    font-size: max(2vw, 16pt);
}

.title h3 {
    font-weight: 300;
    font-size: max(1.5vw, 12pt);
}

.title h4 {
    font-weight: 300;
    font-size: max(1.5vw, 12pt);
}

.description{
    display:flex;
    flex-direction: column;
    background-color: white;
    outline: 3px solid red;
    padding: 12px;
    height:2000px;
}

.description h1{
    font-weight: 600;
    font-size: max(5vw, 28px);
}

.description h2 {
    font-weight: 500;
    font-size: max(4vw, 24px);
}

.description h3 {
    font-weight: 400;
    font-size: 4vw;
}

.description p{
    margin-top: 12px;
    font-weight: 300;
    font-size: calc(12+1vw);
}

.description .files{
    margin-top: 12px;
    background-color: white;
    height: 360px;
}


@media(min-width: 1000px){
    .title{
        position:fixed;
        width: 48vw;
        bottom: 124px;
    }

    .description{
        outline: 3px solid red;
    }
}

@media(max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 16pt;
    }
    
    h2 {
        font-size: 14pt;
    }


    h3 {
        font-size: 14pt;
    }


    h4 {
        font-size: 12pt;
    }


    p{
        font-size: 12pt;
    }
}


/*set background to all h1 blue*/
