*{
    box-sizing: border-box;
}

iframe{
    overflow: visible;
}

.content {
    background-color: white;
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: row;
    grid-gap: 3px;
    overflow: scroll;
}
.content *{
    outline: 0;
}

#left{
    display:flex;
    flex-direction: column;
    grid-gap: 3px;
}

.thumbnails{
    aspect-ratio: 1/1;
}

.title{
    outline: 3px solid white;
    background-color: white;
    padding: 12px;
}

.title h1 {
    font-weight: 600;
    font-size: 4vw;
}

.title h2 {
    font-weight: 400;
    font-size: max(2vw, 16pt);
}

.title h3 {
    font-weight: 300;
    font-size: max(1.5vw, 12pt);
}

.title h4 {
    font-weight: 300;
    font-size: max(1.5vw, 12pt);
}

.description{
    display:flex;
    flex-direction: column;
    overflow: scroll;
    background-color: white;
    outline: 3px solid white;
    padding: 12px;
}

.description h1{
    font-weight: 600;
    font-size: max(5vw, 28px);
}

.description h2 {
    font-weight: 500;
    font-size: max(4vw, 24px);
}

.description h3 {
    font-weight: 400;
    font-size: 4vw;
}

.description p{
    margin-top: 12px;
    font-weight: 300;
    font-size: calc(12+1vw);
}

.description ol{
    padding: 24px;
        font-weight: 300;
}

.description .files{
    margin-top: 12px;
    margin-bottom: 12px;
}

.files *{
    overflow: auto;
}

.description h5{
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: calc(12+1vw);
}


@media(min-width: 1000px){
    #left{
        width: calc((100vh - 260px)/1.5);
    }
    .thumbnails{
        width: calc((100vh - 260px)/1.5);
        flex: 2;
    }
    .title{
        width: calc((100vh - 260px)/1.5);
        padding: 24px;
        flex: 1;
        overflow: scroll;
    }

    .title h1 {
        font-size: 3vw;
    }

    .title h2 {
        font-size: max(1.4vw, 16pt);
    }

    .title h3 {
        font-size: max(1vw, 12pt);
    }

    .title h4 {
        font-size: max(1vw, 12pt);
    }

    .content{
        width: 100vw-calc((100vh - 260px)/1.5);
    }

    .description{
        outline: 3px solid white;
        overflow: scroll;
    }
}

@media(max-width: 630px) {
    .description{
        overflow: visible;
    }
    .content{
        display: flex;
        flex-direction: column;
        height: calc(78vh - 36px);
    }

    h1{
        font-size: 16pt;
    }
    
    h2 {
        font-size: 14pt;
    }


    h3 {
        font-size: 14pt;
    }


    h4 {
        font-size: 12pt;
    }


    p{
        font-size: 12pt;
    }
}


/*set background to all h1 blue*/
